<!-- This is for the navigation logo area -->
<section id="intPages">
    <nav>
        <div class="smLogo">
            <img src="/assets/images/Vibe-logo.svg" alt="Vibe Logo">
        </div>
    </nav>
    <div>
        <a href="javascript:off();"><img src="/assets/images/add-icon-button.svg" alt="Record Your Mood"></a>
    </div>
</section>