<!-- This is for the navigation logo area -->
    <header>
        <div>
            <a href="/" class="backStack">	
                BACK
            </a>
        </div>
    </header>
    <section id="intPages">
        <nav>
            <div class="smLogo">
                <img src="/assets/images/Vibe-logo.svg" alt="Vibe Logo">
            </div>
        </nav>
    </section>

    <section id="contentText">
        <h1>About Mood Tracking</h1>
        <h2>What is mood tracking?</h2>
        <p>Mood tracking is the act of quantifying your current mood.</p>
        <p>According to Wikipedia, “In psychology, a mood is an emotional state. In contrast to emotions, feelings, or affects, moods are less specific, less intense and less likely to be provoked or instantiated by a particular stimulus or event. Moods are typically described as having either a positive or negative valence. In other words, people usually talk about being in a good mood or a bad mood.”</p>
        <h2>How is Vibe different?</h2>
        <p>I’m not depressed and not particularly prone to the “blues” either. I do have waxing and waning motivation and drive though. In fact, I tend to be a good mood most of the time and quite productive too.</p>
        <p>Understanding what affects your mood can help you avoid the things that create negative moods.</p>
    </section>