<!-- This is for the navigation logo area -->
<section id="intPages">
    <nav>
        <div class="smLogo">
            <img src="/assets/images/Vibe-logo.svg" alt="Vibe Logo">
        </div>
        <div style="margin-top: 35px;">
            <a href="/dashboard" class="backStack">
                DASHBOARD
            </a>
        </div>
    </nav>
</section>

<!-- This is for some text and info -->
<section id="welcomeText">
    <div class="smallTitle">
        date placeholder
    </div>
    <h1>
        Day In Review
    </h1>
    <!-- This is the section for mood -->
    <div>
        <div id="moodIcon"></div>
        <div id="moodTitle"></div>
    </div>
</section>

<section id="postArea">
    <div id="postTime">
        <h2>{{date}}</h2>
    </div>
    <h2>Heres what you had to say on that day...</h2>
    <div id="postComment">{{journalNote}}</div>
    <div id="postImage">
        {{#if photoUrl}}
        <img class="imageUrl" src={{photoUrl}} height="300px" width="300px"/>
        {{/if}}
    </div>
</section>
<script>
    window.onload = function() {
        // Declare my mood settings
        let newBgColor = moodChoices[4][3];
        let newMoodTitle = moodChoices[4][0];
        let newMoodNum = moodChoices[4][1];
        // Update the background of the page
        changePageBackColor(newBgColor);
        // Update the values based on the mood
        document.getElementById('moodIcon').innerHTML = '<img src="public/assets/images/mood-' + newMoodNum + '-v4.svg"/>';
        document.getElementById('moodTitle').innerHTML = String(newMoodTitle);
    };       
</script>