<!-- This is for the navigation logo area -->
<header>
    <div>

    </div>

    <nav>
        <img src="/assets/images/Vibe-logo.svg" alt="Vibe Logo">
    </nav>
</header>

<!-- This is for some text and info -->
<section id="introText">
    <h1>
        Hello. Welcome!
    </h1>
    <h2>
        Take care of your mental health
    </h2>
    <p>
        Measuring your mood is complex. It’s never as simple as a single feeling. With Vibe, our dimensional scale helps measure multiple emotions, providing a more accurate portrait of your mood.
    </p>
    <p>
        <a href="#">Learn More About Vibe?</a>
    </p>
</section>

<!-- This is the links -->
<section id="ctaLinks">
    <ul>
        <li>
            <a href="signup">Join</a>
        </li>
        <li>
            <a href="login">Log in</a>
        </li>
    </ul>
</section>