
<!-- This is for the navigation logo area -->
<header>
    <div>
        <a href="/" class="backStack">	
            <!-- <span class="arrowSize">&#8406;</span> -->
            BACK
        </a>
    </div>

    <nav>
        <img src="/assets/images/Vibe-logo.svg" alt="Vibe Logo">
    </nav>
</header>

<!-- This is for some text and info -->
<!-- This is for some text and info -->
<section id="introText">
    <h2>
        Log In
    </h2>
    <p style="padding:0">
        And let's get to mood tracking.
    </p>
</section>

<!-- This is for the form field -->
<section id="formsArea">
    <form name="loginInfo" id="login-form"></form>
        <!-- Field 1 -->
        <label for="userName">Username</label>
        <input type="text" placeholder="Username" name="userName" id="userName" class="formInput" />
        <div class="helperText">required</div>

        <!-- Field 2 -->
        <label for="pinNum">PIN</label>
        <input type="pinNum" placeholder="PIN" name="pinNum" id="pinNum" class="formInput" />
        <div class="helperText">required</div>

        <!-- Submit button -->
        <div>
            <a onclick="document.forms['loginInfo'].submit(); return false;">Submit</a>
        </div>
    </form>
</section>

<script src="/assets/js/login.js"></script>